<config>
    <modules>
        <Horkov_ProductAvailability>
            <version>1.0</version>
        </Horkov_ProductAvailability>
    </modules>
    <global>
        <blocks>
            <productavailability>
                <class>Horkov_ProductAvailability_Block</class>
            </productavailability>
        </blocks>
        <models>
            <productavailability>
                <class>Horkov_ProductAvailability_Model</class>
                <resourceModel>productavailability_resource</resourceModel>
            </productavailability>
            <productavailability_resource>
                <class>Horkov_ProductAvailability_Model_Resource</class>
                <entities>
                    <block>
                        <table>horkov_productavailability</table>
                    </block>
                </entities>
            </productavailability_resource>
        </models>
        <resources>
            <productavailability_setup>
                <setup>
                    <module>Horkov_ProductAvailability</module>
                </setup>
            </productavailability_setup>
        </resources>
        <helpers>
            <productavailability>
                <class>Horkov_ProductAvailability_Helper</class>
            </productavailability>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <productavailability module="productavailability">
                    <file>productavailability.xml</file>
                </productavailability>
            </updates>
        </layout>
        <routers>
            <productavailability>
                <use>standard</use>
                <args>
                    <module>Horkov_ProductAvailability</module>
                    <frontName>productavailability</frontName>
                </args>
            </productavailability>
        </routers>
        <translate>
            <modules>
                <Horkov_ProductAvailability>
                    <files>
                        <default>Horkov_ProductAvailability.csv</default>
                    </files>
                </Horkov_ProductAvailability>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <productavailability before="Mage_Adminhtml">Horkov_ProductAvailability_Adminhtml</productavailability>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>

    </default>
</config>